<section class="header">

  <div class="header__container">
    <bb-logo class="header__desktop-logo"></bb-logo>
    <div class="header__wrapper">
      <a class="header__nav"
         *ngFor="let pages of navigationsLinks"
         [routerLink]="[pages.link]"
         routerLinkActive="header__nav_active">
        {{pages.linkName}}
      </a>
    </div>
  </div>

  <div class="header__mobile-menu-wrapper"
       *ngIf="!isIconShown"
       (click)="menuToggle()">
    <div class="header__mobile-menu-icon"
         [class.header__mobile-menu-icon_black]="isBlackOpenMenuIcon"></div>
  </div>

</section>

