$media-mobile: 375px;
$media-tablet: 768px;
$media-small-desktop: 1024px;
$media-desktop: 1280px;
$media-desktop-large: 1600px;
$media-desktop-full-hd: 1920px;
$media-desktop-medium: 1366px;

$media-tablet-only: 768px 1023px;
$media-small-desktop-only: 1024px 1279px;

$mobile-class: 'mobile';
$tablet-class: 'tablet';
$small-desktop-class: 'small-desktop';
$desktop-class: 'desktop';
