<ng-container>
  <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
</ng-container>

<mat-sidenav-container>
  <mat-sidenav #sidenav
               mode="over"
               position="start"
               (openedChange)="onMenuStateChange($event)"
               (openedStart)="onMenuStateChange(true)">
    <bb-menu (menuToggleOutput)="sidenav.toggle()"></bb-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <bb-logo class="mobile-logo"></bb-logo>
    <main role="main">
      <section>
        <router-outlet></router-outlet>
      </section>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>

<ng-template #menuTemplate>
  <bb-header (menuToggleOutput)="sidenav.toggle()"
             [isIconShown]="isMenuOpened"
             [isBlackOpenMenuIcon]="!(isNotHomePage$ | async)"></bb-header>
</ng-template>
