@import "./../../sass/index";

.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: flex-end;
  height: 90px;
  background-color: transparent;
  z-index: $material-overlay;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    padding: 0 5%;
  }

  &__nav {
    @include Text-Normal(18px, 21px);
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;

    &:hover {
      @include Text-Normal(18px, 21px, $color-black);
      text-decoration: none !important;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
